*.json
*.log
save_*
builds/*
env-test/builds/*
env-test/*.json
env-test/*.shelve
TBUILD/*
Uncompress*
jars/*
*.pyc
projects/*
.vs/*
*.sln
*.pyproj
badjars*
.idea
venv
# System Files
.DS_Store
Thumbs.db
