[DEFAULT]
# The directory under which all the java projects to be compiled exist.
root = /Users/mrhmisu/previous-pc/ubuntu/projects
# Rebuild the projects from scratch. Dependency rematching implies
# that all projects might not recompile successfully.
rebuild_from_scratch = True
# The file with project paths to be build. Paths in file are considered relative to the root directory.
file = AUTOGEN
# The directory under which all the output build directories will be put.
outfolder = /Users/mrhmisu/previous-pc/ubuntu/builds/
# An output file that will contain all the output information consolidated.
output = /Users/mrhmisu/previous-pc/ubuntu/builds/project_details.json
# The root of the java repository
jars =/Users/mrhmisu/previous-pc/ubuntu/jars
# The file that represents the mapping of fqn to jar in repository.
fqn_to_jar = /Users/mrhmisu/previous-pc/ubuntu/builds/fqn-to-jars.shelve
# The number of base threads to be run.
threads = 1
try_project_build = False
verbose = True
only_project_build = False