[DEFAULT]
# The directory under which all the java projects to be compiled exist.
root =/Users/mrhmisu/Repositories/SourcererJBF/env-test/projects
# Rebuild the projects from scratch. Dependency rematching implies that all projects might not recompile successfully.
rebuild_from_scratch = True
# The file with project paths to be build. Paths in file are considered relative to the root directory.
file = /Users/mrhmisu/Repositories/SourcererJBF/env-test/copy/project-list.txt
# The directory under which all the output build directories will be put.
output_folder = /Users/mrhmisu/Repositories/SourcererJBF/env-test/builds/
# An output file that will contain all the output information consolidated.
output = /Users/mrhmisu/Repositories/SourcererJBF/env-test/project_details.json
# Copy the project source folder into the build artifact folder.
copy_source = False
# Copy the dependent jars into the build artifact folder.
copy_jars = False
# The root of the jar collection repository
jars =/Users/mrhmisu/Repositories/SourcererJBF/env-test/jars
# The file that represents the mapping of fqn to jar in repository.
fqn_to_jar = /Users/mrhmisu/Repositories/SourcererJBF/env-test/copy/fqn-to-jars.shelve
# The file that represents the mapping of project to jar versions in repository.
project_to_jars= /Users/mrhmisu/Repositories/SourcererJBF/env-test/copy/defect-project-jar-version.shelve
# The number of base threads to be run.
threads = 2
try_project_build = True
verbose = True
only_project_build = False
